.card {
  display: flex;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  margin: 20px;
  height: 252px;
  width: 274px;
  border-color: gray;
}

.card-description img {
  width: 180px;
  height: 180px;
}

.card-description {
    font-family: Poppins;
    padding-left: 40px;
}
